<?xml version="1.0"?>
<config>
    <modules>
        <Shaurmalab_Constructor>
            <version>1.0.1</version>
        </Shaurmalab_Constructor>
    </modules>
    <global>
        <template>
            <email>
                <constructor_welcome_email translate="label" module="core">
                    <label>Constructor welcome</label>
                    <file>constructor_welcome.html</file>
                    <type>html</type>
                </constructor_welcome_email>
            </email>
        </template>
        <rewrite>
            <constructor_admin>
                <from><![CDATA[#^/manage/(.*)#]]></from>
                <to>/constructor/admin/{$1}</to>
            </constructor_admin>
        </rewrite> 
  	    <blocks>
            <constructor>
                <class>Shaurmalab_Constructor_Block</class>
            </constructor>
        </blocks>
        <helpers>
            <constructor>
                <class>Shaurmalab_Constructor_Helper</class>
            </constructor>
        </helpers>
        <models>
            <constructor>
                <class>Shaurmalab_Constructor_Model</class>
                <resourceModel>constructor_mysql4</resourceModel>
            </constructor>
            <constructor_mysql4>
                <class>Shaurmalab_Constructor_Model_Mysql4</class>
            </constructor_mysql4>
        </models>
        <resources>
            <constructor_setup>
                <setup>
                    <module>Shaurmalab_Constructor</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </constructor_setup>
            <constructor_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </constructor_write>
            <constructor_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </constructor_read>
        </resources>
         <translate>
            <modules>
                <Shaurmalab_Constructor>
                    <files>
                        <default>Shaurmalab_Constructor.csv</default>
                    </files>
                </Shaurmalab_Constructor>
            </modules>
        </translate>
    </global>
    <adminhtml>
       <layout>
            <updates>
                <constructor>
                    <file>constructor.xml</file>
                </constructor>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <constructor>
                <use>standard</use>
                <args>
                    <module>Shaurmalab_Constructor</module>
                    <frontName>constructor</frontName>
                </args>
            </constructor>
        </routers>
        <default>
            <router>constructor</router>
        </default>
        <translate>
            <modules>
                <Shaurmalab_Constructor>
                    <files>
                        <default>Shaurmalab_Constructor.csv</default>
                    </files>
                </Shaurmalab_Constructor>
            </modules>
        </translate>
        <layout>
            <updates>
                <constructor>
                    <file>constructor.xml</file>
                </constructor>
            </updates>
        </layout>
    </frontend>
</config>