<?xml version="1.0"?>
<config>
    <modules>
        <Shaurmalab_Seller>
            <version>1.0.0</version>
        </Shaurmalab_Seller>
    </modules>
    <frontend>
        <layout>
            <updates>
                <seller>
                    <file>seller.xml</file>
                </seller>
            </updates>
        </layout>
        <routers>
            <seller>
                <use>standard</use>
                <args>
                    <module>Shaurmalab_Seller</module>
                    <frontName>seller</frontName>
                </args>
            </seller>
        </routers>
        <default>
            <router>seller</router>
        </default>
        <translate>
            <modules>
                <Shaurmalab_Seller>
                    <files>
                        <default>Shaurmalab_Seller.csv</default>
                    </files>
                </Shaurmalab_Seller>
            </modules>
        </translate>
    </frontend>
    <global>
        <models>
        </models>
        <blocks>
            <seller>
                <class>Shaurmalab_Seller_Block</class>
            </seller>
        </blocks>
        <helpers>
            <seller>
                <class>Shaurmalab_Seller_Helper</class>
            </seller>
        </helpers>
         
    </global>
</config>