<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Neklo_Monitor>
            <version>1.2.2</version>
        </Neklo_Monitor>
    </modules>
    <global>
        <blocks>
            <neklo_monitor>
                <class>Neklo_Monitor_Block</class>
            </neklo_monitor>
            <neklo_monitor_adminhtml>
                <class>Neklo_Monitor_Block_Adminhtml</class>
            </neklo_monitor_adminhtml>
        </blocks>
        <helpers>
            <neklo_monitor>
                <class>Neklo_Monitor_Helper</class>
            </neklo_monitor>
            <catalog>
                <rewrite>
                    <product_flat>Neklo_Monitor_Helper_Flat</product_flat>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <neklo_monitor>
                <class>Neklo_Monitor_Model</class>
                <resourceModel>neklo_monitor_resource</resourceModel>
            </neklo_monitor>
            <neklo_monitor_resource>
                <class>Neklo_Monitor_Model_Resource</class>
                <entities>
                    <report><table>neklo_monitor_report</table></report>
                    <log><table>neklo_monitor_log</table></log>
                    <queue><table>neklo_monitor_queue</table></queue>
                    <cicl><table>neklo_monitor_cataloginventory_cl</table></cicl>
                </entities>
            </neklo_monitor_resource>
        </models>
        <resources>
            <neklo_monitor_setup>
                <setup>
                    <module>Neklo_Monitor</module>
                </setup>
            </neklo_monitor_setup>
        </resources>
        <events>
            <sales_order_place_after>
                <observers>
                    <neklo_monitor_orders>
                        <class>neklo_monitor/observer</class>
                        <method>checkOrder</method>
                    </neklo_monitor_orders>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <neklo_monitor>
                <use>standard</use>
                <args>
                    <module>Neklo_Monitor</module>
                    <frontName>neklo_monitor</frontName>
                </args>
            </neklo_monitor>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <neklo_monitor_send_server_info>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron_server::run</model>
                </run>
            </neklo_monitor_send_server_info>
            <neklo_monitor_send_store_info>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron_store::run</model>
                </run>
            </neklo_monitor_send_store_info>
            <neklo_monitor_collect_store>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/cron_store::collect</model>
                </run>
            </neklo_monitor_collect_store>
            <neklo_monitor_changelog_process>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/observer::convertChangelogToQueue</model>
                </run>
            </neklo_monitor_changelog_process>
            <neklo_monitor_queue>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/observer::sendQueuedRequest</model>
                </run>
            </neklo_monitor_queue>
            <neklo_monitor_aggregate_sales_report_order_data>
                <schedule>
                    <cron_expr>5 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>neklo_monitor/observer::aggregateSalesReportOrderData</model>
                </run>
            </neklo_monitor_aggregate_sales_report_order_data>
        </jobs>
    </crontab>
    <default>
        <neklo_monitor>
            <general>
                <is_enabled>0</is_enabled>
            </general>
            <gateway>
                <token></token>
                <token_generated_at></token_generated_at>
                <server_type>production</server_type>
                <sid></sid>
            </gateway>
        </neklo_monitor>
    </default>
</config>