<?xml version="1.0"?>
<config>
    <modules>
        <Custom_Lancaster>
            <version>0.1.0</version>
        </Custom_Lancaster>
    </modules>
    <frontend>
        <routers>
            <lancaster>
                <use>standard</use>
                <args>
                    <module>Custom_Lancaster</module>
                    <frontName>lancaster</frontName>
                </args>
            </lancaster>
        </routers>
        <layout>
            <updates>
                <lancaster>
                    <file>lancaster.xml</file>
                </lancaster>
            </updates>
        </layout>

    </frontend>
    <global>
        <models>
            <lancaster>
                <class>Custom_Lancaster_Model</class>
            </lancaster>
            <score>
                <rewrite>
                    <oggetto>Custom_Lancaster_Model_Oggetto_Oggetto</oggetto>
                </rewrite>
            </score>
        </models>
        <helpers>
            <lancaster>
                <class>Custom_Lancaster_Helper</class>
            </lancaster>
        </helpers>
        <blocks>
            <score>
                <rewrite>
                    <oggetto_allgrid>Custom_Lancaster_Block_Grid</oggetto_allgrid>
                </rewrite>
            </score>
        </blocks>
        <events>
            <score_oggetto_save_before>
                <observers>
                    <validate_object>
                        <class>lancaster/observer</class>
                        <method>validateObject</method>
                    </validate_object>
                </observers>
            </score_oggetto_save_before>
            <score_oggetto_update>
                <observers>
                    <check_triggers>
                        <class>lancaster/observer</class>
                        <method>checkTriggers</method>
                    </check_triggers>
                </observers>
            </score_oggetto_update>
            <score_oggetto_create>
                <observers>
                    <check_triggers_on_create>
                        <class>lancaster/observer</class>
                        <method>checkTriggers</method>
                    </check_triggers_on_create>
                </observers>
            </score_oggetto_create>
        </events>
    </global>
</config>