<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Advancetag>
            <version>1.0.0</version>
        </Ewall_Advancetag>
    </modules>
    <global>
        <helpers>
            <ewall_advancetag>
                <class>Ewall_Advancetag_Helper</class>
            </ewall_advancetag>
        </helpers>
        <models>
            <ewall_advancetag>
                <class>Ewall_Advancetag_Model</class>
            </ewall_advancetag>
        </models>
		<blocks>
            <advancetag><class>Ewall_Advancetag_Block</class></advancetag>
        </blocks>
    </global>
    <default>
        <admin>
            <ewall_advancetag>
			    <isdisplay>1</isdisplay>
                <width>600</width>
                <height>400</height>
				<color1>ffffff</color1>
				<color2>ffffff</color2>
				<color3>ffffff</color3>
				<color4>333333</color4>
				<speed>100</speed>
            </ewall_advancetag>
            <ewall_advancetag2>
			    <isdisplay>1</isdisplay>
                <width>170</width>
                <height>200</height>
				<color1>ffffff</color1>
				<color2>ffffff</color2>
				<color3>ffffff</color3>
				<color4>333333</color4>
				<speed>100</speed>
            </ewall_advancetag2>
        </admin>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <Ewall_Advancetag>
                    <files>
                        <default>Ewall_Advancetag.csv</default>
                    </files>
                </Ewall_Advancetag>
            </modules>
        </translate>
    </adminhtml>
</config>
