<?xml version="1.0"?>
<config>
    <modules>
        <Cafepress_CPCore>
            <version>0.1.0</version>
        </Cafepress_CPCore>
    </modules>
    <frontend>
        <routers>
            <cpcore>
                <use>standard</use>
                <args>
                    <module>Cafepress_CPCore</module>
                    <frontName>cpcore</frontName>
                </args>
            </cpcore>
        </routers>
    </frontend>
    <admin>
        <routers>
            <cpcore>
                <use>admin</use>
                <args>
                    <module>Cafepress_CPCore</module>
                    <frontName>cpcore</frontName>
                </args>
            </cpcore>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cpcore>
                    <file>cafepress/cpcore.xml</file>
                </cpcore>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <cpcore>
                <class>Cafepress_CPCore_Model</class>
                <resourceModel>cpcore_resource_eav_mysql4</resourceModel>
            </cpcore>
            <cpcore_resource_eav_mysql4>
                <class>Cafepress_CPCore_Model_Resource_Eav_Mysql4</class>
                <entities>
                    <xmlformat>
                        <table>cpcore_xmlformat</table>
                    </xmlformat>
                    <attribute>
                        <table>cpcore_eav_attribute</table>
                    </attribute>
                </entities>
            </cpcore_resource_eav_mysql4>
            <cpcore_mysql4>
                <class>Cafepress_CPCore_Model_Mysql4</class>
                <entities>
                    <cpcore>
                        <table>cpcore</table>
                    </cpcore>
                </entities>
            </cpcore_mysql4>
            <cplog>
                <class>Cafepress_CPCore_Model</class>
                <resourceModel>cplog_mysql4</resourceModel>
            </cplog>
            <cplog_mysql4>
                <class>Cafepress_CPCore_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>cp_execution_log</table>
                    </log>
                </entities>
            </cplog_mysql4>

            <cpreplacer>
                <class>Cafepress_CPCore_Model</class>
                <resourceModel>cpreplacer_resource</resourceModel>
            </cpreplacer>
            <cpreplacer_resource>
                <class>Cafepress_CPCore_Model_Resource_Mysql4</class>
                <entities>
                    <replacer>
                        <table>cppro_replacer</table>
                    </replacer>
                    <replacer_sub>
                        <table>cppro_replacer_sub</table>
                    </replacer_sub>
                    <replacer_line>
                        <table>cppro_replacer_line</table>
                    </replacer_line>
                </entities>
            </cpreplacer_resource>

            <merchandise>
                <class>Cafepress_CPCore_Model</class>
                <resourceModel>mechandise_mysql4</resourceModel>
            </merchandise>
            <mechandise_mysql4>
                <class>Cafepress_CPCore_Model_Mysql4</class>
                <entities>
                    <merchandise>
                        <table>cp_merchandise</table>
                    </merchandise>
                </entities>
            </mechandise_mysql4>

            <sales>
                <rewrite>
                    <observer>Cafepress_CPCore_Model_Order_Observer</observer>
                    <order>Cafepress_CPCore_Model_Sales_Order</order>
                    <order_item>Cafepress_CPCore_Model_Sales_Order_Item</order_item>
                </rewrite>
            </sales>
        </models>
        <resources>
            <cpcore_setup>
                <setup>
                    <module>Cafepress_CPCore</module>
                    <class>Cafepress_CPCore_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cpcore_setup>
            <cpcore_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cpcore_write>
            <cpcore_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cpcore_read>
        </resources>
        <blocks>
            <cpcore>
                <class>Cafepress_CPCore_Block</class>
            </cpcore>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Cafepress_CPCore_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
<!--                    <creditcard_adminhtml_ordergrid>Cafepress_CPCore_Block_Adminhtml_Sales_Order_Grid</creditcard_adminhtml_ordergrid>-->
                    <sales_order_gridall>Cafepress_CPCore_Block_Adminhtml_Sales_Order_Gridall</sales_order_gridall>
                    <sales_order_gridall2>Cafepress_CPCore_Block_Adminhtml_Sales_Order_Gridall2</sales_order_gridall2>
                    <catalog_product_edit_tab_super_config_simple>Cafepress_CPCore_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Simple</catalog_product_edit_tab_super_config_simple>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <cpcore>
                <class>Cafepress_CPCore_Helper</class>
            </cpcore>
        </helpers>
        <events>
            <sales_order_save_before>
                <observers>
                    <saveAdditionalData>
                        <type>singleton</type>
                        <class>Cafepress_CPCore_Model_Sales_Order</class>
                        <method>saveAdditionalData</method>
                    </saveAdditionalData>
                </observers>
            </sales_order_save_before>
            <order_format_performed>
                <observers>
                    <saveToLog>
                        <type>singleton</type>
                        <class>Cafepress_CPCore_Model_Log</class>
                        <method>saveToLog</method>
                    </saveToLog>
                </observers>
            </order_format_performed>
            <downfileparsresp_format_performed>
                <observers>
                    <saveToLog>
                        <type>singleton</type>
                        <class>Cafepress_CPCore_Model_Log</class>
                        <method>downfileparsresp_format_performed</method>
                    </saveToLog>
                </observers>
            </downfileparsresp_format_performed>
            <xmlformat_save_after>
                <observers>
                    <mailDump>
                        <type>singleton</type>
                        <class>Cafepress_CPCore_Model_Dump</class>
                        <method>sendViaMail</method>
                    </mailDump>
                </observers>
            </xmlformat_save_after>
            <order_format_preperformed>
                <observers>
                    <deleteFromOrderLog>
                        <type>singleton</type>
                        <class>Cafepress_CPCore_Model_Log</class>
                        <method>deleteFromOrderLog</method>
                    </deleteFromOrderLog>
                </observers>
            </order_format_preperformed>
            <orderstatus_format_preperformed_action>
                <observers>
                    <deleteFromOrderStatusLog>
                        <type>singleton</type>
                        <class>Cafepress_CPCore_Model_Log</class>
                        <method>deleteFromOrderStatusLog</method>
                    </deleteFromOrderStatusLog>
                </observers>
            </orderstatus_format_preperformed_action>
            <wms_curl_setopt>
                <observers>
                    <curlSetoptToImage>
                        <class>Cafepress_CPCore_Model_Observer</class>
                        <method>editWmsHttpCurlSetopt</method>
                    </curlSetoptToImage>
                </observers>
            </wms_curl_setopt>
        </events>
        <page>
            <layouts>
                <support_center>
                    <label>Support Center</label>
                    <template>page/support_center.phtml</template>
                    <layout_handle>support_center</layout_handle>
                </support_center>
            </layouts>
        </page>
        <rewrite>
            <adminhtml_sales_order_exportAll>
                <from><![CDATA[#^/admin/sales_order/exportMoreDataCsv#]]></from>
                <to>/cpcore/adminhtml_sales_order/exportMoreDataCsv</to>
            </adminhtml_sales_order_exportAll>
            <adminhtml_sales_order_exportOrdersPrototype>
                <from><![CDATA[#^/admin/sales_order/exportOrdersPrototypeReport#]]></from>
                <to>/cpcore/adminhtml_sales_order/exportOrdersPrototypeReport</to>
            </adminhtml_sales_order_exportOrdersPrototype>
        </rewrite>
        <cache>
            <types>
                <eav translate="label,description" module="cpcore">
                    <label>Cafepress</label>
                    <description>Cafepress system cache.</description>
                    <tags>cpcore</tags>
                </eav>
            </types>
        </cache>
    </global>
    <default>
        <common>
            <partner>
                <delay>0</delay>
            </partner>
            <format>
                <order_statuses>pending,processing,complete</order_statuses>
                <creditmemo_statuses>pending,processing,complete,closed</creditmemo_statuses>
                <outbound_methods>sentFileBySoap</outbound_methods>
            </format>
        </common>
        <ftp>
            <methods>
                <connection>ftps</connection>
            </methods>
        </ftp>
        <cafepress_common>
            <server>
                <tokenurl><![CDATA[http://api.cafepress.com/authentication.getUserToken.cp]]></tokenurl>
            </server>
        </cafepress_common>
    </default>
    <cpcore>
        <entities>
            <order>cpcore/sales_order</order>
            <var>cpcore/xmlformat_format_entity_variable</var>
            <helper>cpcore/xmlformat_format_entity_helper</helper>
            <ship>cpcore/xmlformat_format_entity_shipment</ship>
            <shipment>cpcore/xmlformat_format_entity_shipment</shipment>
            <product>cpcore/xmlformat_format_entity_product</product>
            <term>cpcore/xmlformat_format_entity_terms</term>
            <result>cpcore/xmlformat_format_entity_result</result>
            <edit>cpcore/xmlformat_format_entity_edit</edit>
            <wms>cpcore/xmlformat_format_entity_coreWmsEntity</wms>
            <invoice>cpcore/xmlformat_format_entity_invoice</invoice>
            <orderpro>cpcore/sales_order</orderpro>
          <oggetto>score/oggetto</oggetto>
        </entities>
        <formats>
            <cafepress_create_product>
                <name>cafepress_create_product</name>
                <type>transformer</type>
            </cafepress_create_product>
            <cafepress_save_product>
                <name>cafepress_save_product</name>
                <type>transformer</type>
            </cafepress_save_product>
            <cafepress_get_merchandise_for_create_product>
                <name>cafepress_get_merchandise_for_create_product</name>
                <type>transformer</type>
            </cafepress_get_merchandise_for_create_product>
            <cafepress_get_merchandise>
                <name>cafepress_get_merchandise</name>
                <type>transformer</type>
            </cafepress_get_merchandise>
            <get_colors>
                <name>get_colors </name>
                <type>transformer</type>
            </get_colors>
            <get_sizes>
                <name>get_sizes</name>
                <type>transformer</type>
            </get_sizes>
            <cafepress_get_merchandise_by_id>
                <name>cafepress_get_merchandise_by_id</name>
                <type>transformer</type>
            </cafepress_get_merchandise_by_id>
            <get_store_products>
                <name>get_store_products</name>
                <type>transformer</type>
            </get_store_products>
            <get_store_products_count>
                <name>get_store_products_count</name>
                <type>transformer</type>
            </get_store_products_count>
            <cafepress_find_product>
                <name>cafepress_find_product</name>
                <type>transformer</type>
            </cafepress_find_product>
        </formats>
    </cpcore>
</config>
