<?xml version="1.0"?>
<config>
    <modules>
        <Shaurmalab_Bot>
            <version>0.1.1</version>
        </Shaurmalab_Bot>
    </modules>
    <frontend>
        <routers>
            <bot>
                <use>standard</use>
                <args>
                    <module>Shaurmalab_Bot</module>
                    <frontName>bot</frontName>
                </args>
            </bot>
        </routers>
    </frontend>
    <global>
        <models>
            <bot>
                <class>Shaurmalab_Bot_Model</class>
                <resourceModel>bot_mysql4</resourceModel>
            </bot>
            <bot_mysql4>
                <class>Shaurmalab_Bot_Model_Mysql4</class>
                <entities>
                    <bot>
                        <table>bots</table>
                    </bot>
                </entities>
            </bot_mysql4>
        </models>
        <resources>
            <bot_setup>
                <setup>
                    <module>Shaurmalab_Bot</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bot_setup>
            <bot_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bot_write>
            <bot_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bot_read>
        </resources>
        <blocks>
            <bot>
                <class>Shaurmalab_Bot_Block</class>
            </bot>
        </blocks>
        <helpers>
            <bot>
                <class>Shaurmalab_Bot_Helper</class>
            </bot>
        </helpers>
    </global>
</config>
