<div class="dt col-md-12 bold centered f20" style="line-height:25px;">
	<div class="dc well">
		<div class="col-md-6 col-md-offset-3">
Добрый день!<br/><br/>
					
Спасибо, что зарегистрировались на нашем проекте.<br/><br/>

Ваш сайт уже доступен по адресу <a href="{{var base_url}}" target="_blank">{{var base_url}}</a> <br/>
Редактирование сайта возможно после авторизации <a href="{{var base_url}}{{var locale}}/customer/account/login/" target="_blank">{{var base_url}}{{var locale}}/customer/account/login/</a> и доступно по адресу <a href="{{var base_url}}{{var locale}}/manage/ " target="_blank">{{var base_url}}{{var locale}}/manage/ </a><br/>
<br/>
На данный момент Вы можете добавлять неограниченное число страниц и блоков, а так же редактировать основные настройки.<br/>
Со временем функции сайта будут расширяться.<br/>
Буду рад ответить на любые вопросы через email (<a href="mailto:innativelife@gmail.com">innativelife@gmail.com</a>) или в чате - <a href="https://www.hipchat.com/gEvIe0ifV" target="_blank">https://www.hipchat.com/gEvIe0ifV</a> <br/>
</div>				
<div class="text-right italic f15 col-md-12" >
<br/>
Павел Иванов, основатель inNativeLife 
<br/><br/>
<a href="http://about.me/TaganPablo/" target="_blank">http://about.me/TaganPablo/</a><br/>
<a href="http://www.linkedin.com/in/taganpablo" target="_blank">http://www.linkedin.com/in/taganpablo</a>
<br/>
</div>
</div>
</div>