<?xml version="1.0"?>
<config>
    <modules>
        <Ewall_Customtags>
            <version>0.1.0</version>
        </Ewall_Customtags>
    </modules>
    <frontend>
        <routers>
            <customtags>
                <use>standard</use>
                <args>
                    <module>Ewall_Customtags</module>
                    <frontName>customtags</frontName>
                </args>
            </customtags>
        </routers>
        <layout>
            <updates>
                <customtags>
                    <file>customtags.xml</file>
                </customtags>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<customtags>
				<use>admin</use>
				<args>
					<module>Ewall_Customtags</module>
					<frontName>customtags</frontName>
				</args>
			</customtags>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<customtags module="customtags">
				<title>Customtags</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="customtags">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>customtags/adminhtml_customtags</action>
					</items>
				</children>
			</customtags>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Ewall_Customtags>
							<title>Customtags Module</title>
							<sort_order>10</sort_order>
						</Ewall_Customtags>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<customtags>
					<file>customtags.xml</file>
				</customtags>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <customtags>
                <class>Ewall_Customtags_Model</class>
                <resourceModel>customtags_mysql4</resourceModel>
            </customtags>
            <customtags_mysql4>
                <class>Ewall_Customtags_Model_Mysql4</class>
                <entities>
                    <customtags>
                        <table>customtags</table>
                    </customtags>
                </entities>
            </customtags_mysql4>
        </models>
        <resources>
            <customtags_setup>
                <setup>
                    <module>Ewall_Customtags</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customtags_setup>
            <customtags_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customtags_write>
            <customtags_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customtags_read>
        </resources>
        <blocks>
            <customtags>
                <class>Ewall_Customtags_Block</class>
            </customtags>
        </blocks>
        <helpers>
            <customtags>
                <class>Ewall_Customtags_Helper</class>
            </customtags>
        </helpers>
    </global>
</config>
