<?xml version="1.0"?>
<config>
    <modules>
        <Cafepress_CPWms>
            <version>0.1.0</version>
        </Cafepress_CPWms>
    </modules>
    <frontend>
        <routers>
            <cpwms>
                <use>standard</use>
                <args>
                    <module>Cafepress_CPWms</module>
                    <frontName>cpwms</frontName>
                </args>
            </cpwms>
        </routers>
    </frontend>
    <admin>
        <routers>
            <cpwms>
                <use>admin</use>
                <args>
                    <module>Cafepress_CPWms</module>
                    <frontName>cpwms</frontName>
                </args>
            </cpwms>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cpwms>
                    <file>cpwms.xml</file>
                </cpwms>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <cpwms>
                <class>Cafepress_CPWms_Model</class>
                <resourceModel>cpwms_resource_eav_mysql4</resourceModel>
            </cpwms>
            <cpwms_resource_eav_mysql4>
                <class>Cafepress_CPWms_Model_Resource_Eav_Mysql4</class>
                <entities>  
                    <xmlformat>
                        <table>wms_xmlformat</table>
                    </xmlformat>
                    <attribute>
                        <table>wms_eav_attribute</table>
                    </attribute>
                </entities>
            </cpwms_resource_eav_mysql4>

            <cpwms_mysql4>
                <class>Cafepress_CPWms_Model_Mysql4</class>
                <entities>
                    <cpwms>
                        <table>wms</table>
                    </cpwms>
                </entities>
            </cpwms_mysql4>

            <wmslog>
                <class>Cafepress_CPWms_Model</class>
                <resourceModel>wmslog_mysql4</resourceModel>
            </wmslog>
            <wmslog_mysql4>
                <class>Cafepress_CPWms_Model_Mysql4</class>
                <entities>
                    <log>
                        <table>wms_execution_log</table>
                    </log>
                </entities>
            </wmslog_mysql4>

            <wmsreplacer>
                <class>Cafepress_CPWms_Model</class>
                <resourceModel>wmsreplacer_resource</resourceModel>
            </wmsreplacer>
            <wmsreplacer_resource>
                <class>Cafepress_CPWms_Model_Resource_Mysql4</class>
                <entities>
                    <replacer>
                        <table>wmspro_replacer</table>
                    </replacer>
                    <replacer_sub>
                        <table>wmspro_replacer_sub</table>
                    </replacer_sub>
                    <replacer_line>
                        <table>wmspro_replacer_line</table>
                    </replacer_line>
                </entities>
            </wmsreplacer_resource>

            <merchandise>
                <class>Cafepress_CPWms_Model</class>
                <resourceModel>mechandise_mysql4</resourceModel>
            </merchandise>
            <mechandise_mysql4>
                <class>Cafepress_CPWms_Model_Mysql4</class>
                <entities>
                    <merchandise>
                        <table>cp_merchandise</table>
                    </merchandise>
                </entities>
            </mechandise_mysql4>

            <sales>
                <rewrite>
                    <observer>Cafepress_CPWms_Model_Order_Observer</observer>
                    <order>Cafepress_CPWms_Model_Sales_Order</order>
                    <order_item>Cafepress_CPWms_Model_Sales_Order_Item</order_item>
                </rewrite>
            </sales>
        </models>
        <resources>
            <cpwms_setup>
                <setup>
                    <module>Cafepress_CPWms</module>
                    <class>Cafepress_CPWms_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </cpwms_setup>
            <cpwms_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cpwms_write>
            <cpwms_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cpwms_read>
        </resources>
        <blocks>
            <cpwms>
                <class>Cafepress_CPWms_Block</class>
            </cpwms>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Cafepress_CPWms_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                    <sales_order_gridall>Cafepress_CPWms_Block_Adminhtml_Sales_Order_Gridall</sales_order_gridall>
                    <sales_order_gridall2>Cafepress_CPWms_Block_Adminhtml_Sales_Order_Gridall2</sales_order_gridall2>
                    <catalog_product_edit_tab_super_config_simple>Cafepress_CPWms_Block_Adminhtml_Catalog_Product_Edit_Tab_Super_Config_Simple</catalog_product_edit_tab_super_config_simple>
                </rewrite>
            </adminhtml>
            <catalog>
                <rewrite>
                    <seo_sitemap_tree_category>Cafepress_CPWms_Block_Catalog_Seo_Sitemap_Tree_Category</seo_sitemap_tree_category>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <cpwms>
                <class>Cafepress_CPWms_Helper</class>
            </cpwms>
        </helpers>
        <events>
            <sales_order_save_before>
                <observers>
                    <saveAdditionalData>
                        <type>singleton</type>
                        <class>Cafepress_CPWms_Model_Sales_Order</class>
                        <method>saveAdditionalData</method>
                    </saveAdditionalData>
                </observers>
            </sales_order_save_before>
            <order_format_performed>
                <observers>
                    <saveToLog>
                        <type>singleton</type>
                        <class>Cafepress_CPWms_Model_Log</class>
                        <method>saveToLog</method>
                    </saveToLog>
                </observers>
            </order_format_performed>
            <downfileparsresp_format_performed>
                <observers>
                    <saveToLog>
                        <type>singleton</type>
                        <class>Cafepress_CPWms_Model_Log</class>
                        <method>downfileparsresp_format_performed</method>
                    </saveToLog>
                </observers>
            </downfileparsresp_format_performed>
            <xmlformat_save_after>
                <observers>
                    <mailDump>
                        <type>singleton</type>
                        <class>Cafepress_CPWms_Model_Dump</class>
                        <method>sendViaMail</method>
                    </mailDump>
                </observers>
            </xmlformat_save_after>
            <order_format_preperformed>
                <observers>
                    <deleteFromOrderLog>
                        <type>singleton</type>
                        <class>Cafepress_CPWms_Model_Log</class>
                        <method>deleteFromOrderLog</method>
                    </deleteFromOrderLog>
                </observers>
            </order_format_preperformed>
            <orderstatus_format_preperformed_action>
                <observers>
                    <deleteFromOrderStatusLog>
                        <type>singleton</type>
                        <class>Cafepress_CPWms_Model_Log</class>
                        <method>deleteFromOrderStatusLog</method>
                    </deleteFromOrderStatusLog>
                </observers>
            </orderstatus_format_preperformed_action>
            <wms_curl_setopt>
                <observers>
                    <curlSetoptToImage>
                        <class>Cafepress_CPWms_Model_Observer</class>
                        <method>editWmsHttpCurlSetopt</method>
                    </curlSetoptToImage>
                </observers>
            </wms_curl_setopt>
        </events>
        <page>
            <layouts>
                <support_center>
                    <label>Support Center</label>
                    <template>page/support_center.phtml</template>
                    <layout_handle>support_center</layout_handle>
                </support_center>
            </layouts>
        </page>
        <rewrite>
            <adminhtml_sales_order_exportAll>
                <from><![CDATA[#^/admin/sales_order/exportMoreDataCsv#]]></from>
                <to>/cpwms/adminhtml_sales_order/exportMoreDataCsv</to>
            </adminhtml_sales_order_exportAll>
            <adminhtml_sales_order_exportOrdersPrototype>
                <from><![CDATA[#^/admin/sales_order/exportOrdersPrototypeReport#]]></from>
                <to>/cpwms/adminhtml_sales_order/exportOrdersPrototypeReport</to>
            </adminhtml_sales_order_exportOrdersPrototype>
        </rewrite>
    </global>
    <default>
        <common>
            <partner>
                <delay>0</delay>
            </partner>
            <format>
                <use_release>1</use_release>
                <order_statuses>pending,processing,complete</order_statuses>
                <creditmemo_statuses>pending,processing,complete,closed</creditmemo_statuses>
                <outbound_methods>sentFileBySoap</outbound_methods>
            </format>
        </common>
        <ftp>
            <methods>
                <connection>ftps</connection>
            </methods>
        </ftp>
        <cafepress_common>
            <server>
                <tokenurl><![CDATA[http://api.cafepress.com/authentication.getUserToken.cp]]></tokenurl>
            </server>
        </cafepress_common>
    </default>
</config>
