<?xml version="1.0"?>
<config>
    <modules>
        <DP_Product>
            <version>0.1.0</version>
        </DP_Product>
    </modules>
    <frontend>
        <routers>
            <product>
                <use>standard</use>
                <args>
                    <module>DP_Product</module>
                    <frontName>dpproduct</frontName>
                </args>
            </product>
        </routers>
        <layout>
            <updates>
                <dpproduct>
                    <file>product.xml</file>
                </dpproduct>
            </updates>
        </layout>
    </frontend>
    <global>
        <rewrite>
            <custom_product_page>
                <from><![CDATA[/^\/st\/(.*)/i]]></from>
                <to>/dpproduct/index/index</to>
            </custom_product_page>
        </rewrite>
        <models>
        </models>
        <resources>
        </resources>
        <blocks>
            <product>
                <class>DP_Product_Block</class>
            </product>
        </blocks>
        <helpers>
            <product>
                <class>DP_Product_Helper</class>
            </product>
        </helpers>
    </global>
</config>