/* Basic styling */
/* Draw the lines */
.mageMlm .line {
    height                : 20px;
    width                 : 4px;
}

.mageMlm .ChartDown {
    background-color 		: #555;
    margin 				: 0px auto;
}

.mageMlm .ChartTop {
    border-top          : 2px solid #555;
}

.mageMlm .ChartLeft {
    border-right          : 2px solid #555 !important;
}

.mageMlm .ChartRight {
    border-left           : 2px solid #555 !important;
}

/* node cell */
.mageMlm td {
    text-align            : center;
    vertical-align        : top;
    padding-left          : 2px;
    padding-right: 2px;
}

/* The node */
.mageMlm .node {
    font-size 			: 12px;
    background-color 	: #fff;
    border 				: 1px solid #c4c1bc;
    min-height: 90px;;
    width:  90px;
    margin: auto;
}
.node p{
    font-family 	: tahoma;
    font-size 		: 10px;
    line-height 	: 11px;
    padding 		: 2px;
}

/* jQuery drag 'n drop */

.drag-active {
    border-style			: dotted !important;
}

.drop-hover {
    border-style			: solid !important;
    border-color 			: #E05E00 !important;
}

.node .userName {
    color: #fff;
    font-weight: bold;
    background: #fc9d36; border:0; padding:3px 10px;
}

/* jQuery drag 'n drop */

.drag-active {
    border-style	: dotted !important;
}

.drop-hover {
    border-style	: solid !important;
    border-color 	: #E05E00 !important;
}

.magemlm-buttons {
	float: right;
}


.magemlm-level {
	font-size 	 	: 20px;
	text-align 		: center;
	padding 		: 0px;
	margin 			: 0px;
	font-weight 	: bold;
}

.magemlm-admin-edit {
	background-color: #f0f0f0; width: 100px; float: right; height: 80px; border: 1px solid silver; cursor: pointer; margin-left: 2px;
	background-image: url("images/admin_magemlm_edit.png");
	background-position:center ;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.magemlm-admin-delete {
	background-color: #f0f0f0; width: 100px; float: right; height: 80px; border: 1px solid silver; cursor: pointer;
	background-image: url("images/admin_magemlm_delete.png"); 
	background-position:center ;
	background-repeat: no-repeat;
	border-radius: 5px;
}

.magemlm-admin-delete:hover {
	background-color: #f8f8f8; cursor: pointer;
	background-image: url("images/admin_magemlm_delete.png");
	background-position:center ;
	background-repeat: no-repeat;
}

.magemlm-admin-edit:hover {
	background-color: #f8f8f8; cursor: pointer;
	background-image: url("images/admin_magemlm_edit.png");
	background-position:center ;
	background-repeat: no-repeat;
}
