<?xml version="1.0"?>
<config>
    <modules>
        <Neklo_ABTesting>
            <version>1.1.7</version>
        </Neklo_ABTesting>
    </modules>
    <frontend>
        <routers>
            <neklo_abtesting>
                <use>standard</use>
                <args>
                    <module>Neklo_ABTesting</module>
                    <frontName>neklo_abtesting</frontName>
                </args>
            </neklo_abtesting>
        </routers>
        <layout>
            <updates>
                <neklo_abtesting>
                    <file>neklo_abtesting.xml</file>
                </neklo_abtesting>
            </updates>
        </layout>
        <events>
            <customer_session_init>
                <observers>
                    <set_visitor_id_cookie>
                        <class>neklo_abtesting/observer</class>
                        <method>getVisitorIdCookie</method>
                    </set_visitor_id_cookie>
                </observers>
            </customer_session_init>
            <AB_test_customer_group_set>
                <observers>
                    <set_visitor_id_cookie_and_save_ab_tests_log>
                        <class>neklo_abtesting/observer</class>
                        <method>saveAbTestsLog</method>
                    </set_visitor_id_cookie_and_save_ab_tests_log>
                </observers>
            </AB_test_customer_group_set>
            <customer_login>
                <observers>
                    <customer_login_update_customer_id>
                        <class>neklo_abtesting/observer</class>
                        <method>onCustomerLogin</method>
                    </customer_login_update_customer_id>
                </observers>
            </customer_login>
            <customer_save_after>
                <observers>
                    <customer_create_update_customer_id>
                        <class>neklo_abtesting/observer</class>
                        <method>onCustomerCreate</method>
                    </customer_create_update_customer_id>
                </observers>
            </customer_save_after>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <abtesting_controller_action_layout_load_before>
                        <class>neklo_abtesting/observer</class>
                        <method>controllerActionLayoutLoadBefore</method>
                    </abtesting_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_generate_xml_before>
            <http_response_send_before>
                <observers>
                    <abtesting_check_valid_events>
                        <class>neklo_abtesting/observer</class>
                        <method>checkValidEvents</method>
                    </abtesting_check_valid_events>
                </observers>
            </http_response_send_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <neklo_abtesting before="Mage_Adminhtml">Neklo_ABTesting_Adminhtml</neklo_abtesting>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
         <layout>
            <updates>
                <neklo_abtesting>
                    <file>neklo_abtesting.xml</file>
                </neklo_abtesting>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <neklo_abtesting>
                <class>Neklo_ABTesting_Block</class>
            </neklo_abtesting>
        </blocks>
        
        <helpers>
            <neklo_abtesting>
                <class>Neklo_ABTesting_Helper</class>
            </neklo_abtesting>
        </helpers>
        
        <models>
            <neklo_abtesting>
                <class>Neklo_ABTesting_Model</class>
                <resourceModel>neklo_abtesting_resource</resourceModel>
            </neklo_abtesting>
            <neklo_abtesting_resource>
                <class>Neklo_ABTesting_Model_Resource</class>
                <entities>
                    <abtest>
                        <table>neklo_abtesting_abtest</table>
                    </abtest>
                    <abpresentation>
                        <table>neklo_abtesting_abpresentation</table>
                    </abpresentation>
                    <abtest_abpresentation>
                        <table>neklo_abtesting_abtest_abpresentation</table>
                    </abtest_abpresentation>
                    <abevent>
                        <table>neklo_abtesting_abevent</table>
                    </abevent>
                    <abtest_event>
                        <table>neklo_abtesting_abtest_event</table>
                    </abtest_event>
                    <visitor>
                        <table>visitors</table>
                    </visitor>
                    <log>
                        <table>neklo_abtesting_abtest_log</table>
                    </log>
                </entities>
            </neklo_abtesting_resource>
            <core>
                <rewrite>
                    <layout_update>Neklo_ABTesting_Model_Layout_Update</layout_update>
                </rewrite>
            </core>
        </models>
        
        <resources>
            <neklo_abtesting_setup>
                <setup>
                    <module>Neklo_ABTesting</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </neklo_abtesting_setup>
        </resources>

    </global>
    
    <default>
        <neklo_abtesting>
            <general>
                <enabled>0</enabled>
                <session_cookie_lifetime>3600</session_cookie_lifetime>
            </general>
        </neklo_abtesting>
    </default>
</config>
